.select-style{
	position: absolute;
	top: 20px;
	right: 10px;
	z-index: 100;
}
.style{
	box-shadow: 0px 5px 5px rgb(0 0 0 / 32%);
	border: none;
	padding: 10px 40px;
	border-radius: 20px;
	font-size: 20px;
	font-family: Roboto;
	font-style: normal;
	text-decoration: none;
}
.dark{
	background: #7B61C4;
	color: black;
	
}
.white{
	background: #A1BDD0;
	color: white;
}
